# ── Symfony ───────────────────────────────────────────────────────────────────
APP_ENV=dev
APP_SECRET=changeme_in_production

# ── PostgreSQL ────────────────────────────────────────────────────────────────
POSTGRES_DB=aurora
POSTGRES_USER=aurora
POSTGRES_PASSWORD=aurora
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}?serverVersion=16

# ── PgAdmin ───────────────────────────────────────────────────────────────────
PGADMIN_EMAIL=admin@michelin-aurora.dev
PGADMIN_PASSWORD=aurora

# ── Ports hôte (changer si conflit) ──────────────────────────────────────────
BACK_PORT=8081
FRONT_PORT=3001

# ── Front-End ─────────────────────────────────────────────────────────────────
NUXT_PUBLIC_API_BASE=http://localhost:8081
